html,
body {
    margin: 0;
}

.title {
    font-size: 60px;
    text-align: center;
}

#error_msg{
    color: red;
    text-align: center;
}

.box {
    width: 60%;
    /* border: 3px solid black; */
    padding: 10px;
    margin: 0 auto;
}

.inputGroup {
    /* border: 1px solid green; */
    box-sizing: border-box;
    /* width: fit-content; */
    text-align: center;
}

#inputText {
    width: 350px;
    height: 25px;
    outline: none;
}

#add {
    height: 30px;
    width: 50px;
    margin-left: 10px;
}

.item {
    cursor: pointer;
}

.remove {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}



td {
    width: 200px;
}
